.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
  &-2
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    top: 25%
    left: -10%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 25%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6,
.barra-avance__boton--regresar span
  color: $white !important  

.boton *, .boton--sm *
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.titulo-principal.color-acento-contenido .titulo-principal__numero
  background-color: $color-primario
.titulo-segundo.color-acento-contenido:after
    border-left-color: $color-acento-botones;
.bloque-texto-g.color-secundario
  background-color: #E2EFFC
.bloque-texto-g.color-acento-contenido
    background-color: #A2AEEA
.cajon.color-secundario 
    background-color: #D0D6F5
table thead
    background-color: $color-secundario
table td
    text-align: left;
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #A2AEEA !important
    color: $color-sistema-texto
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris,
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
    background-color: $color-primario !important
    color: $white 
.tarjeta-audio.color-primario .tarjeta-audio__texto
    color: $color-sistema-texto
    font-style: normal !important
.audio.color-primario .audio__btn, .tarjeta-audio.color-primario .audio__btn, .tarjeta-dialogo.color-primario .audio__btn
    background-color: $color-acento-botones !important
.tabs-c__tab
    background-color: #091551
    color: $white
    border-bottom: 4px solid #091551
.tabs-c.color-acento-botones .tabs-c__tab--active
  font-weight: bold
  background-color: #fff !important
  color: $color-sistema-texto
.tabs-c__content-item
  position: relative;
  top: -15px;
  z-index: 0;
.tabs-c__tab--active:before
    z-index: 99;
.tarjeta.color-acento-contenido
  background-color: #B0A3C8
.tarjeta.color-primario
  background-color: #C5DEF8
.tarjeta.color-acento-botones
  background-color: #F5A3BC
.tarjeta.color-acento-contenido *,
.tarjeta.color-acento-botones *,
.tarjeta.color-primario *
  color: $color-sistema-texto
.slyder-f__btn i
  color: $color-acento-botones
.acordion
  &__activo
    background-color: #C5DEF8 !important
  &__accion__btn--b 
    border: 0px !important
    background-color: $color-acento-botones !important
    color: $white !important
.tarjeta--boton
    background-color: #F5A3BC
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
    background-color: #C5DEF8
.tarjeta--boton.color-primario:hover *
    color: $color-sistema-texto
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-color
  &-1
    background-color: #D0D6F5
  &-2
    background-color: #E2EFFC
  &-3
    background-color: #F5F6FD
  &-4
    background-color: #D7D1E3
  &-5
    background-color: #C5DEF8
  &-6
    background-color: #6FADED
  &-7
    background-color: $color-primario

.br
  &-1
    border-radius: 10px !important

.mg-cus
  &-1
    margin-top: 35px !important
  &-2
    margin-top: 30px !important
  &-3
    margin-top: 3rem !important
  &-4
    margin-top: 25px !important
  &-5
    margin-top: 60px !important
  &-6
    margin-top: 20px !important
  
.pd-cus
  &-1
    padding: 3rem
      
.hcard
  &-1
    height: 470px !important

.w-cus
  &-1
    width: 20% !important  
  &-2
    width: 15% !important   
  &-3
    width: 32px !important  
  &-4
    width: 10% !important
  &-5
    width: fit-content !important
.titulo-icono
  width: fit-content
  position: relative;
  left: 12px;
  background-color: $color-primario
  border-radius: 30px
 
  &-text
    margin-right: 10px
    margin-left: 45px;
    color: $white
    @media screen and (max-width: 767px)
      margin-left: 0px;
      
  &-img
    padding: 0px
    position: absolute
    

    @media screen and (max-width: 767px)
        display: none

    img
      position: relative
      max-width: 65px
.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 0.8rem 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.3rem ))
    background-color: #F5A3BC
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 
  .mg-cus
    &-1
      margin-top: 0px !important

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .bloque-texto-g 
        padding-top: 50px !important;
  
  .mg-cus
    &-1
      margin-top: 10px !important
  .tarjeta--container > .tarjeta:nth-child(2)
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
  .tarjeta--container > .tarjeta:last-child
    border-radius: 20px
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .pd-cus
    &-1
      padding: 1rem
  .bloque-texto-g
    padding-top: 1rem !important;
  .mg-cus
    &-1
      margin-top: 10px !important
    &-3
      margin-top: 0.3rem !important
    &-5
      margin-top: 0.3rem !important
  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .tarjeta--container > .tarjeta:first-child,
  .tarjeta--container > .tarjeta
    border-radius: 20px